<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
    <div>
        <script src="js/sidebar.js"></script>
    </div>
    <section>
        <p class="txt"></p>
        <table class="community">
            <script src="js/selectCommunity.js"></script>
        </table>
    </section>
    <script src="js/word.js"></script>
</body>
</html>