<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
    <div>
        <script src="js/sidebar.js"></script>
    </div>
    <section>
        <a href="../templates/insert.html" style="margin-left: 80%;">
            <img src="../static/create.png" alt="HomeIcon" />
        </a>
        <script src="js/index.js"></script>
    </section>
    <script src="js/word.js"></script>
</body>
</html>