<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
    <header>
        <script src="js/header.js"></script>
    </header>
    <section>
        <div style="width: 100%;">
            <div style="width: 100%;">
                <a href="community.html?b_type=1">
                    <div class="index_div">
                        <img src="../static/people.png" alt="img" class="index_img"/>
                        <p class="index_txt">자유게시판</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="community.html?b_type=2">
                    <div class="index_div">
                        <img src="../static/game.png" alt="img" class="index_img"/>
                        <p class="index_txt">게임게시판</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="community.html?b_type=3">
                    <div class="index_div">
                        <img src="../static/food.png" alt="img" class="index_img"/>
                        <p class="index_txt">음식게시판</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="community.html?b_type=4">
                    <div class="index_div">
                        <img src="../static/keyboard.png" alt="img" class="index_img"/>
                        <p class="index_txt">코딩게시판</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <div style="text-align: center">
        <input type="text" id="word" style="width: 10%;"/>
        <input type="button" value="검색" onclick="search()" style="width: 5%"/>
    </div>
<script src="js/word.js"></script>
</body>
</html>