<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
    <header>
        <script src="js/header.js"></script>
    </header>
    <section>
        <a href="community.html?b_type=1">자유게시판</a>
        <a href="community.html?b_type=2">게임게시판</a>
        <a href="community.html?b_type=3">사진게시판</a>
        <a href="community.html?b_type=4">영상게시판</a>
    </section>
</body>
</html>