<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
    <div>
        <script src="js/sidebar.js"></script>
    </div>
    <section>
        <p class="txt">게시글 수정</p>
        <div class="insert_div">
        <p id="title_length" class="insert_title_length"></p>
        <input type="text" id="title" class="insert_title" onkeypress="titleCount()"/>
        <br>
        <div id="delBtn">
        </div>
        <br>
        <p id="content_length" class="insert_content_length"></p>
        <textarea class="textarea_resize insert_content" rows="5" cols="50" id="content"></textarea>
            <input type="file" multiple="multiple" id="files" name="files" accept="image/png, image/jpeg, image/jpg" class="insert_file"/>
        <br>
        <br>
            <input type="button" class="insert_btn" style="float:right;" value="수정" onclick="communityModify()"/>
            <input type="button" class="cancel_btn" value="취소" onclick="cancel()"/>
        </div>
    </section>
    <script src="js/modify.js"></script>
    <script src="js/word.js"></script>
    <script>
        /* title */
        let title_length = document.getElementById("title_length");
        title_length.innerText = document.getElementById("title").value.length + "/20";
        const titleKey = document.getElementById("title");
        function titleCount(){
            title_length.innerText = document.getElementById("title").value.length + "/20";
        }
        titleKey.addEventListener("keyup",titleCount);

        /* content */
        let content_length = document.getElementById("content_length");
        content_length.innerText = document.getElementById("content").value.length + "/200"
        const contentKey = document.getElementById("content");
        function contentCount(){
            content_length.innerText = document.getElementById("content").value.length + "/200";
        }
        contentKey.addEventListener("keyup",contentCount);
    </script>
</body>
</html>
