<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
<header>
    <script src="js/header.js"></script>
</header>
<section>
    <p class="type_text">게시글 수정</p>
    <select id="type" style="float: left;">
        <option value="">게시판선택</option>
        <option value="1">자유게시판</option>
        <option value="2">게임게시판</option>
        <option value="3">음식게시판</option>
        <option value="4">코딩게시판</option>
    </select>
    <input type="file" id="files" name="files" accept="image/*"/>
    <br>
    <br>
    <input type="text" id="title" style="width: 500px; height: 25px;"/>
    <br>
    <div id="delBtn">
    </div>
    <br>
    <textarea rows="5" cols="50" id="content" style="width: 500px; height: 200px;"></textarea>
    <br>
    <br>
    <input type="button" value="수정" onclick="communityModify()"/>
    <input type="button" value="취소" onclick="cancel()"/>
</section>
<script src="js/modify.js"></script>
</body>
</html>