<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
    <div>
        <script src="js/sidebar.js"></script>
    </div>
    <section>
        <p class="txt">비밀번호 변경</p>
        <div style="margin: 20px 0 0 0;">
            <div>
                비밀번호 변경
                <br>
                <input type="password" id="user_password" onkeyup="enter()"/>
            </div>
            <div>
                <br>
                비밀번호 변경 확인
                <br>
                <input type="password" id="user_password_check" onkeyup="enter()"/>
            </div>
        </div>
        <div style="margin: 20px 0 0 0; text-align: center;">
            <input type="button" value="변경" onclick="passwordCheck()"/>
        </div>
    </section>
    <script src="js/password.js"></script>
    <script src="js/word.js"></script>
</body>
</html>