<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
    <div>
        <script src="js/sidebar.js"></script>
    </div>
    <section>
        <p class="txt">프로필</p>
        <div class="profile_div">
            <div style="display: inline-block; margin: 0 40px 0 0;">
                <p>적용 중인 프로필</p>
                <div id="user_profile_view"></div>
                <input type="file" id="user_profile" accept="image/png, image/jpg"/>
                <div style="margin: 20px 0 0 0; text-align: center;">
                    <input type="button" value="변경" onclick="profileChange()" />
                </div>
            </div>
            <div style="display: inline-block;">
                <p class="txt">비밀번호 변경</p>
                <div style="margin: 55px 0 0 0;">
                    비밀번호 변경
                    <br>
                    <input
                            type="password"
                            id="user_password"
                            class="box"
                            placeholder="비밀번호 변경"
                            onkeyup="enter()"
                    />
                </div>
                <div style="margin: 20px 0 0 0;">
                    <br>
                    비밀번호 변경 확인
                    <br>
                    <input
                            type="password"
                            id="user_password_check"
                            class="box"
                            placeholder="비밀번호 변경 확인"
                            onkeyup="enter()"
                    />
                </div>
                <div style="margin: 50px 0 0 0; text-align: center;">
                    <input type="button" style=" width: 150px;" value="변경" onclick="passwordCheck()"/>
                </div>
            </div>
        </div>
        <div id="my_board" class="index_div"></div>
        <div id="my_comment" class="index_div"></div>
    </section>
    <script src="js/profile.js"></script>
    <script src="js/word.js"></script>
</body>
</html>