<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
    <div>
        <script src="js/sidebar.js"></script>
    </div>
    <section>
        <p class="txt"></p>
        <div>
            <input type="text" id="search_word" style="width: 30%;"/>
            <input type="button" value="검색" onclick="search()" style="width: 10%" />
        </div>
        <br>
        <script src="js/search.js"></script>
    </section>
    <script src="js/word.js"></script>
</body>
</html>