<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
<div>
    <script src="js/sidebar.js"></script>
</div>
    <section>
        <p class="type_text">댓글 수정</p>
        <p id="second_length"></p>
        <textarea rows="5" cols="50" id="second_content" style="width: 500px; height: 400px;"></textarea>
        <br>
        <br>
        <input type="button" value="수정" onclick="secondModify()"/>
        <input type="button" value="취소" onclick="cancel()">
    </section>
    <script src="js/secondModify.js"></script>
    <script>
        let second_length = document.getElementById("second_length");
        second_length.innerText = document.getElementById("second_content").value.length + "/50"
        const secondKey = document.getElementById("second_content");
        function secondCount(){
            second_length.innerText = document.getElementById("second_content").value.length + "/50";
        }
        secondKey.addEventListener("keyup",secondCount);
    </script>
</body>
</html>