<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
    <div>
        <script src="js/sidebar.js"></script>
    </div>
    <section>
        <div class="userCommunity">
            <p class="type_text txt"></p>
            <script src="js/selectUserCommunity.js"></script>
        </div>
    </section>
    <script src="js/word.js"></script>
    <script>
        let comment_length = document.getElementById("comment_length");
        comment_length.innerText = document.getElementById("c_content").value.length + "/50";
        const commentKey = document.getElementById("c_content");
        function commentCount() {
            comment_length.innerText = document.getElementById("c_content").value.length + "/50";
        }
        commentKey.addEventListener("keyup", commentCount);
    </script>
</body>
</html>