<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
    <div>
        <script src="js/sidebar.js"></script>
    </div>
    <section>
        <div id="user_info_div" style="width: 60%; height: 150px; border: 1px solid #ddd; padding: 15px;">
            <div id="user_profile_view"></div>
            <div id="tt"></div>
        </div>
    </section>
    <script src="js/word.js"></script>
    <script src="js/userInfo.js"></script>
</body>
</html>