<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
    <header>
        <script src="header.js"></script>
    </header>
    <section>
        <p class="type_text"></p>
        <table class="community_table">
            <script src="js/community.js"></script>
        </table>
        <a><input type="button" value="작성" style="text-align: right;" /></a>
    </section>
</body>
</html>