<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css.css"/>
    <title>게시판</title>
</head>
<body>
    <header>
        <a href="index.html">
            <img class="home_icon header_icon" src="home_icon.png" alt="HomeIcon" />
         </a>
    </header>
    <script src="header.js"></script>
    자유,게임,사진,영상
    <input multiple="multiple" type="file" name="fileN[]" id="fileN" />
    <div id="test">
        <h1 id="hi">1</h1>
    </div>
    <script src="js/lo.js"></script>
</body>
</html>