html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    border: 1px solid #444444;
    margin: 0;
    padding: 20px 5px 15px 5px;
}

/* --------  */
header {
    width: 100%;
    background: lightblue;
    height: 45px;
}

section {
    text-align: center;
    margin: 0 30px 0 30px;
}

/* header */

.header_icon {
    width: 45px;
    margin: 0 30px 0 0;
}

.icon_a {
    margin: 0 0 0 100px;
}

/* community */

.type_text {
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    margin: 30px 0 30px 0;
}

.community_table {
    margin: 0;
    text-align: center;
}

.community_a {
    color: black;
    text-decoration: none;
}

.b_id {
    width: 6%;
}

.b_title {
    width: 50%;
    text-align: left;
}

.b_date {
    width: 20%;
}

.userId {
    width: 20%;
}

.b_count {
    width: 1%;
}

/* userCommunity */

.user_community {
    border: 1px solid black;
    text-align: left;
    font-size: 14px;
    padding: 15px 0 10px 25px;
    margin: 0 0 30px 0;
}

.user_community_title {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
}

.txt {
    font-weight: lighter;
    padding: 0 5px 0 0;
    margin-right: 5px;
    border-width: 1px;
    border-right-style: groove;
}

.end_txt {
    border-right-style: none;
}

.p_txt {
    margin: 45px 0 20px 0;
}

.user_content {
    font-size: 18px;
    text-align: left;
    margin: 15px 0 0 25px;
}

.delete_icon {
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 20px 0 0;
}

/* insert */

.insert_community {
    height: 100%;
    min-height: 500px;
    border: 1px solid black;
}

/* login */

.login_box {
    margin: 10px;
    width: 250px;
    height: 40px;
}

.login_button {
    width: 100px;
    height: 30px;
}