html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    border: 1px solid #444444;
    margin: 0;
    padding: 20px 5px 15px 5px;
}

/* --------------------- */

.u_profile {
    width: 200px;
    height: 200px;
}

.profile {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 10px;
    border-radius: 20px;
}

.b_id_size {
    font-size: 14px;
}

/* sidebar */
.main_sidebar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #0059ab;
    width: 200px;
    height: auto;
}

.main_sidebar_icon {
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
    cursor: pointer;
}

.main_category {
    margin: 0 0 20px 40px;
}

/* section */
section {
    margin: 50px 0 20px 300px;
}

.txt {
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 0;
}

.input_box {
    width: 24%;
    height: 30px;
    margin: 10px 0 10px 0;
}

.input_button {
    width: 25%;
}

/* insert - modify */

.btn {
    text-align: center;
}

.info_box {
    width: 50px;
    position: absolute;
    padding: 7px;
    font-size: 14px;
    text-align: left;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
    top: 30px;
    left: 180px;
}

.insert_div {
    border: 1px solid #ddd;
    padding: 30px 30px 0 30px;
    width: 50%;
}

.insert_type {
    float: left;
    width: 570px;
    height: 30px;
}

.insert_file {
    margin: 20px 0 20px 20px;
}

.insert_title_length {
    left: 860px;
    margin: 20px 0 0 0;
    position: absolute;
    font-size: 13px;
    color: #999
}

.insert_title {
    width: 562px;
    height: 30px;
}

.insert_content_length {
    left: 840px;
    margin: 390px 0 0 0;
    position: absolute;
    font-size: 13px;
    color: #999
}

.insert_content {
    width: 562px;
    height: 400px;
}

.insert_btn {
    background-color: #5cb85c;
    color: #fff;
    border-radius: 4px;
    padding: 0 20px 0 20px;
    height: 30px;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

.cancel_btn {
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    padding: 0 20px 0 20px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

/* index */
.index_div {
    width: 30%;
    display: inline-grid;
    margin: 20px 67px 0 0;
}

.index_box {
    border: 1px solid #ddd;
    border-left: 5px solid #0059ab;
    width: 90%;
}

.board_comments_box {
    border: 1px solid #ddd;
    border-left: 5px solid #0059ab;
    width: 90%;
}

.index_item {
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
}

.index_title {
    font-weight: bold;
}

.index_date {
    font-size: 12px;
    margin-left: 10px;
}

.index_userId {
    font-size: 15px;
    text-align: right;
    margin: 10px 0 0 0;
}

.index_img {
    font-size: 12px;
    margin: 0 0 0 10px;
}

.index_img_size {
    width: 12px;
    height: 12px;
}

.download_box {
    width: 125px;
    position: absolute;
    padding: 7px;
    font-size: 14px;
    text-align: left;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
    top: 260px;
    left: 1050px;
}

.cnt_size {
    font-size: 12px;
}

.community_info {
    float: right;
    margin: 0 10px 0 0;
}

/* profile_div */
.profile_div {
    width: 70%;
    margin: 20px 0 0 0;
    text-align: center;
}

/* userCommunity */

.userCommunity {
    width: 80%;
}

.community_profile {
    width: 50px;
    height: 50px;
    margin: 0 5px 0 10px;
    border-radius: 20px;
}

.info_div {
    height: 80px;
}

.userId {
    font-weight: bold;
    font-size: 16px;
}

.info {
    margin: 0 10px 0 0;
    font-size: 12px;
}

.icon {
    width: 25px;
    height: 25px;
    float: right;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.title {
    margin: 0 0 0 25px;
    font-weight: bold;
    font-size: 24px;
}

.content {
    margin: 20px 0 0 30px;
    white-space: pre-wrap;
    min-height: 50px;
}

.content_image {
    width: 400px;
    height: 300px;
}

.div_border {
    border: 1px solid #ddd;
}

/* 댓글 */
.comment_title {
    height: 35px;
    padding: 20px 0 0 20px;
    font-size: 18px;
    background-color: #f2f2f2;
}

.c_content {
    margin-top: 20px;
    margin-left: 30px;
    white-space: pre-wrap;
    min-height: 20px;
}

.c_content_second {
    margin-left: 50px;
    white-space: pre-wrap;
    min-height: 40px;
}

.second_profile {
    width: 30px;
    height: 30px;
    margin: 10px 5px 0 10px;
    border-radius: 20px;
}

.comment_txt {
    cursor: pointer;
    font-size: 12px;
    color: gray;
}

.arrow_icon {
    width: 30px;
    height: 30px;
    margin: 0 0 0 0;
}

.board_arrow {
    width: 20px;
    height: 20px;
    margin: 0 0 0 0;
}

.comment_box {
    width: 80%;
    height: 50px;
}

.textarea_resize {
    resize: none;
}

.comment_btn {
    width: 50px;
    height: 55px;
}

.comment_length {
    margin: 70px 0 0 0;
    left: 1000px;
    position: absolute;
    font-size: 13px;
    color: #999
}

.warning_message {
    color: red;
    font-size: 16px;
}

.community_info_box {
    width: 30px;
    position: absolute;
    padding: 7px;
    font-size: 14px;
    text-align: left;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
    top: 160px;
    left: 1140px;
}

.comment_box_info_box_size {
    cursor: pointer;
    margin: 4px 0 0 0;
}

.board_comment_title {
    margin: 0 0 0 20px;
}

.board_comment_item {
    margin: 10px 0 0 0;
}