html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    border: 1px solid #444444;
    margin: 0;
    padding: 20px 5px 15px 5px;
}

/* --------------------- */

.u_profile {
    width: 100px;
    height: 100px;
}

.profile {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 10px;
}

.second_profile {
    width: 20px;
    height: 20px;
    float: left;
    margin: 10px 5px 0 10px;
}

/* sidebar */
.main_sidebar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #0059ab;
    width: 200px;
    height: auto;
}

.main_sidebar_icon {
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
}

.main_category {
    margin: 0 0 20px 40px;
}

/* section */
section {
    margin: 50px 0 0 300px;
}

.txt {
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 0;
}

.input_box {
    width: 24%;
    height: 30px;
    margin: 10px 0 10px 0;
}

.input_button {
    width: 25%;
}

.community {
    margin: 10px 0 0 0;
}

/* userCommunity */

.userCommunity {
    width: 80%;
}

.info_div {
    border: 1px solid black;
    height: 110px;
}

.title {
    margin: 10px 0 0 10px;
    font-size: 22px;
}

.userId {
    margin: 20px 10px 0 0;
    font-weight: bold;
    font-size: 16px;
}

.info {
    margin: 0 10px 0 15px;
    font-size: 12px;
}

.icon {
    width: 25px;
    height: 25px;
    float: right;
    margin: 0 10px 0 0;
}

.content {
    margin: 30px 0 0 10px;
    white-space: pre-wrap;
}

.list_btn {
    width: 60px;
    height: 30px;
}

.content_image {
    width: 100px;
    height: 100px;
}

.comment_box {
    width: 70%;
    height: 40px;
}

.comment_btn {
    width: 50px;
    height: 45px;
}

.c_content {
    margin-left: 30px;
    white-space: pre-wrap;
}

.c_content_second {
    margin-left: 50px;
    white-space: pre-wrap;
}

.comment_txt {
    font-size: 12px;
    color: gray;
}

.arrow_icon {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 0 0 20px;
}

/* insert - modify */

.btn {
    text-align: center;
}

.info_box {
    width: 105px;
    position: absolute;
    padding: 7px;
    font-size: 14px;
    text-align: left;
    background-color: white;
    border-radius: 3px;
    display: none;
    top: 30px;
    left: 180px;
}